typing_extensions
numpy==1.26.4
tomli==2.0.1
pre-commit==3.7.0
codecarbon==2.3.5
memray==1.12.0
pathos==0.3.2
jax==0.4.26
jaxlib==0.4.26
flashbax==0.1.2
gymnax==0.0.6
chex==0.1.86
ConfigSpace==1.2.1
distrax==0.1.5
flax==0.8.2
brax==0.10.3
pytest==7.4.4
coverage==7.4.4
chex==0.1.86
xminigrid==0.8.0
gymnasium==1.2.0
ruff
hydra-core
hydra-submitit-launcher
hydra_colorlog
mypy
tox
twine
bump-my-version